{{ define "main" }}
  {{- $posts := .RegularPages.ByDate.Reverse -}}
  {{- $paginator := .Paginate $posts -}}
  <div class="page-container">
    <article class="content">
      <div class="blog-posts">
        {{- range $paginator.Pages }}
          <article class="blog-post">
            <div class="card-header">
              <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
              <div class="card-meta">
                <time class="last-updated" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format "January 2, 2006" }}</time>
              </div>
            </div>
            {{- with .Summary }}
              <div class="blog-post-summary">{{ . }}</div>
            {{- end }}
          </article>
        {{- end }}
      </div>
      {{ partial "pagination.html" $paginator }}
    </article>
  </div>
{{ end }}
