{{- if not .IsHome -}}
  <nav class="breadcrumb">
    <a href="{{ .Site.Home.RelPermalink }}">Home</a>
    {{- range .Ancestors.Reverse -}}
      {{- if not .IsHome -}}
        <span class="breadcrumb-sep">/</span>
        {{- if or .Params.sidebar.toggleOnly .Params.sidebar.exclude -}}
          <span class="breadcrumb-text">{{ .Title }}</span>
        {{- else -}}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <span class="breadcrumb-sep">/</span>
    <span class="breadcrumb-current">{{ .Title }}</span>
  </nav>
{{- end -}}
