{{- if gt .TotalPages 1 }}
<nav class="pagination" aria-label="Pagination">
  {{- if .HasPrev }}
    <a class="pagination-link" href="{{ .Prev.URL }}" aria-label="Newer posts">&larr;</a>
  {{- end }}
  {{- range .Pagers }}
    {{- if eq .PageNumber $.PageNumber }}
      <span class="pagination-current" aria-current="page">{{ .PageNumber }}</span>
    {{- else }}
      <a class="pagination-link" href="{{ .URL }}">{{ .PageNumber }}</a>
    {{- end }}
  {{- end }}
  {{- if .HasNext }}
    <a class="pagination-link" href="{{ .Next.URL }}" aria-label="Older posts">&rarr;</a>
  {{- end }}
</nav>
{{- end }}
