{{- $toc := .Params.toc | default true -}}
{{- $onThisPage := (T "onThisPage") | default "On this page"}}
{{- $editThisPage := (T "editThisPage") | default "Edit this page"}}
{{- $backToTop := (T "backToTop") | default "Scroll to top" -}}

<nav class="toc" aria-label="Table of contents">
  {{- if $toc }}
    <div class="toc-inner">
      {{- with .Fragments.Headings -}}
        <p class="toc-label">{{ $onThisPage }}</p>
        {{- range . -}}
          <ul>
            {{- with .Headings -}}{{ template "toc-subheading" (dict "headings" . "level" 0) }}{{- end -}}
          </ul>
        {{- end -}}
      {{- end -}}

      <div class="toc-footer">
        {{- if and site.Params.toc.displayTags .Params.tags -}}
          <div class="toc-tags">
            <span class="toc-tags-label">{{ T "tags" | default "Tags" }}</span>
            <div class="toc-tags-list">
              {{ partial "tags.html" (dict "context" .) }}
            </div>
          </div>
        {{- end -}}
        {{- if site.Params.editURL.enable -}}
          {{- $editURL := site.Params.editURL.base | default "" -}}
          {{- with .Params.editURL -}}
            {{- $editURL = . -}}
          {{- else -}}
            {{- with .File -}}
              {{- $sourceDir := replace (strings.TrimPrefix .FileInfo.Meta.BaseDir .FileInfo.Meta.SourceRoot) "\\" "/" -}}
              {{- $sourceDir = strings.TrimPrefix "/content" $sourceDir -}}
              {{- $path := replace .Path "\\" "/" -}}
              {{- $editURL = urls.JoinPath $editURL $sourceDir $path -}}
            {{- end -}}
          {{- end -}}
          <a class="toc-edit-link" href="{{ $editURL }}" target="_blank" rel="noreferrer">{{ $editThisPage }}</a>
        {{- end -}}
        <button id="backToTop" tabindex="-1" onClick="scrollUp();" class="toc-back-to-top">
          <span>
            {{- $backToTop -}}
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" focusable="false">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
          </svg>
        </button>
      </div>
    </div>
  {{ end -}}
</nav>

{{- define "toc-subheading" -}}
  {{- $headings := .headings -}}
  {{- $level := .level -}}
  {{- if ge $level 6 -}}
    {{ return }}
  {{- end -}}

  {{- range $headings }}
    {{- if .Title }}
      <li class="toc-item" style="--toc-level: {{ $level }}">
        <a class="toc-link" href="#{{ anchorize .ID }}">
          {{- .Title | safeHTML | plainify | htmlUnescape }}
        </a>
      </li>
    {{- end -}}
    {{- with .Headings -}}
      {{ template "toc-subheading" (dict "headings" . "level" (add $level 1)) }}
    {{- end -}}

  {{- end -}}
{{- end -}}
